<div class="container">
  <div class="row">
    <div class="col-md-6 mt-2" *ngFor="let tarjeta of tarjetas">
      <a [routerLink]="tarjeta.routerLink" style="cursor:pointer">
        <div class="card tarjeta" [style.background]="tarjeta.color">
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">{{ tarjeta.title }}</h5>
            <img class="img-fluid" [src]="tarjeta.imageSrc" alt="">
  
            <p class="card-text mt-2">{{ tarjeta.description }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
