<div>
  <app-navbar (toggleSidebar)="toggleSidebar()"></app-navbar>
  <div class="main-content" [ngClass]="{'offcanvas-open': isOffcanvasOpen}">
    <router-outlet></router-outlet>
    <div class="row text-right mt-4">
      <div class="col-12 text-end">
        <button mat-mini-fab color="primary" aria-label="Abrir menú" [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <!-- Contenido de tu menú aquí -->
          <button mat-menu-item (click)="accionDelMenu()">Radicar PRQ</button>
          <button mat-menu-item (click)="accionDelMenu()">Contactanos</button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>
