.main-content {
  padding: 20px; /* Espaciado interior */
  transition: margin-left 0.3s ease; /* Agrega una transición para un efecto de desplazamiento */
  //height: calc(100vh - 73px);
  margin-top:65px;
  margin-bottom: 5px;
  background-color: #FFFFFF;
  color: #333;
  margin-top:65px;
  margin-right: 5px;
  margin-left: 5px;
  border: #EDEDED 0.1rem solid;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  position: relative;
  overflow: auto;
}

.main-content.offcanvas-open {
  margin-left: calc(100vh - 550px); /* Cambia el valor según el ancho que desees */
  transition: margin-left 0.3s ease; /* Agrega una transición suave */
  background-color: #FFFFFF;
  padding: 10px;
  margin-top:65px;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* Media Query para dispositivos con ancho de pantalla menor a 768px */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0; /* Anula el margen izquierdo para que el contenido se muestre a pantalla completa */
    padding: 10px; /* Ajusta el espaciado interior */
  }

  .main-content.offcanvas-open{
  margin-left: calc(100vh - 390px); /* Cambia el valor según el ancho que desees */
  }
}

.menu-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.menu-position {
  top: calc(100% - 48px); /* Ajusta la posición del menú según tus necesidades */
}