<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-header>
          <div class="header-container">
            <mat-card-title><span class="span-title">MIS CONTRATOS</span></mat-card-title>
            <button (click)="openDialog()" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
              <mat-icon>plus_one</mat-icon>
            </button>
          </div>
        </mat-card-header>
        <hr class="separator">
        <mat-card-content>

        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>
