.toolbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-right: 10px;
    
}
a {
    text-decoration: none;
    color: #0057bb;
    width: 10%;
    cursor: pointer;
}