<h2 mat-dialog-title>
Registrar Apartamento
</h2>
<mat-dialog-content class="mat-typography ">
  <form [formGroup]="torreApartamentoForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field class="custom-mat-field">
        <mat-label>Torre</mat-label>
        <input matInput formControlName="torre" />
        <mat-error *ngIf="torreApartamentoForm.get('torre')?.hasError('required')">
          La torre es obligatoria.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="custom-mat-field">
        <mat-label>Apartamento</mat-label>
        <input matInput formControlName="apartamento" />
        <mat-error *ngIf="torreApartamentoForm.get('apartamento')?.hasError('required')">
          El apartamento es obligatorio.
        </mat-error>
      </mat-form-field>
    </div>
    <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" [disabled]="!torreApartamentoForm.valid">
      Enviar
    </button>
    <button mat-raised-button color="warn" mat-dialog-close [mat-dialog-close]="true" (click)="torreApartamentoModal.close()">
      Cancelar
    </button>
    </mat-dialog-actions>
  </form>


</mat-dialog-content>
